###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     http-server
    host_name               2048.b3n6q7so4luhs.eu-west-1.cs.amazonlightsail.com
    alias                   2048
    address                 2048.b3n6q7so4luhs.eu-west-1.cs.amazonlightsail.com
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machine


###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                     local-service           ; Ping
    host_name               2048.b3n6q7so4luhs.eu-west-1.cs.amazonlightsail.com
    service_description     Ping
    check_command           check_ping!100.0,20%!500.0,60%
}

# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service {

    use                     local-service           ; Ssh
    host_name               2048.b3n6q7so4luhs.eu-west-1.cs.amazonlightsail.com
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   0
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service {

    use                     local-service           ; Http
    host_name               2048.b3n6q7so4luhs.eu-west-1.cs.amazonlightsail.com
    service_description     HTTP
    check_command           check_http
    notifications_enabled   0
}
