###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server
    host_name               MailHog
    alias                   MailHog
    address                 hello-nagios_mailhog_1
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          MailHog
    alias                   MailHog
    members                 MailHog
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                     local-service           ; MailHog_Ping
    host_name               MailHog
    service_description     Ping
    check_command           check_ping!100.0,20%!500.0,60%
}



# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service {

    use                     local-service           ; MailHog_Disk
    host_name               MailHog
    service_description     Root Partition
    check_command           check_local_disk!20%!10%!/
}


# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service {

    use                     local-service           ; MailHog_Http
    host_name               MailHog
    service_description     HTTP
    check_command           check_http_auth!-I mailhog -p 8025
    notifications_enabled   0
}


#servicio para prometheus
define service {
    use                     local-service           ; MailHog_Sntp
    host_name               MailHog
    service_description     SNTP
    check_command           check_http!-w 5 -c 10 -I 10.250.6.3 -p 9090
    notifications_enabled   0
}

#servicio para grafana
define service {
    use                     local-service           ; MailHog_Smtp
    host_name               MailHog
    service_description     SMTP
    check_command           check_smtp! -H mailhog -p 1025
    notifications_enabled   0
}
